{
  "smithy": "2.0",
  "metadata": {
    "telegramBotApiVersion": "10.3",
    "telegramBotApiReleaseDate": {
      "year": 2026,
      "month": 8,
      "day": 24
    },
    "parser": "@gramio/schema-parser@1.2.0",
    "methods": 185,
    "objects": 404,
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.telegram.botapi#Update": {
      "type": "structure",
      "members": {
        "update_id": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "The update's unique identifier. Update identifiers start from a certain positive number and increase sequentially. This identifier becomes especially handy if you're using [webhooks](https://core.telegram.org/bots/api#setwebhook), since it allows you to ignore repeated updates or to restore the correct update sequence, should they get out of order. If there are no new updates for at least a week, then identifier of the next update will be chosen randomly instead of sequentially.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "com.telegram.botapi#Message",
          "traits": {
            "smithy.api#documentation": "*Optional*. New incoming message of any kind - text, photo, sticker, etc."
          }
        },
        "edited_message": {
          "target": "com.telegram.botapi#Message",
          "traits": {
            "smithy.api#documentation": "*Optional*. New version of a message that is known to the bot and was edited. This update may at times be triggered by changes to message fields that are either unavailable or not actively used by your bot."
          }
        },
        "channel_post": {
          "target": "com.telegram.botapi#Message",
          "traits": {
            "smithy.api#documentation": "*Optional*. New incoming channel post of any kind - text, photo, sticker, etc."
          }
        },
        "edited_channel_post": {
          "target": "com.telegram.botapi#Message",
          "traits": {
            "smithy.api#documentation": "*Optional*. New version of a channel post that is known to the bot and was edited. This update may at times be triggered by changes to message fields that are either unavailable or not actively used by your bot."
          }
        },
        "business_connection": {
          "target": "com.telegram.botapi#BusinessConnection",
          "traits": {
            "smithy.api#documentation": "*Optional*. The bot was connected to or disconnected from a business account, or a user edited an existing connection with the bot"
          }
        },
        "business_message": {
          "target": "com.telegram.botapi#Message",
          "traits": {
            "smithy.api#documentation": "*Optional*. New message from a connected business account"
          }
        },
        "edited_business_message": {
          "target": "com.telegram.botapi#Message",
          "traits": {
            "smithy.api#documentation": "*Optional*. New version of a message from a connected business account"
          }
        },
        "deleted_business_messages": {
          "target": "com.telegram.botapi#BusinessMessagesDeleted",
          "traits": {
            "smithy.api#documentation": "*Optional*. Messages were deleted from a connected business account"
          }
        },
        "guest_message": {
          "target": "com.telegram.botapi#Message",
          "traits": {
            "smithy.api#documentation": "*Optional*. New guest message. The bot can use the field *Message.guest\\_query\\_id* and the method [answerGuestQuery](https://core.telegram.org/bots/api#answerguestquery) to send a message in response."
          }
        },
        "message_reaction": {
          "target": "com.telegram.botapi#MessageReactionUpdated",
          "traits": {
            "smithy.api#documentation": "*Optional*. A reaction to a message was changed by a user. The bot must be an administrator in the chat and must explicitly specify `\"message_reaction\"` in the list of *allowed\\_updates* to receive these updates. The update isn't received for reactions set by bots."
          }
        },
        "message_reaction_count": {
          "target": "com.telegram.botapi#MessageReactionCountUpdated",
          "traits": {
            "smithy.api#documentation": "*Optional*. Reactions to a message with anonymous reactions were changed. The bot must be an administrator in the chat and must explicitly specify `\"message_reaction_count\"` in the list of *allowed\\_updates* to receive these updates. The updates are grouped and can be sent with delay up to a few minutes."
          }
        },
        "inline_query": {
          "target": "com.telegram.botapi#InlineQuery",
          "traits": {
            "smithy.api#documentation": "*Optional*. New incoming [inline](https://core.telegram.org/bots/api#inline-mode) query"
          }
        },
        "chosen_inline_result": {
          "target": "com.telegram.botapi#ChosenInlineResult",
          "traits": {
            "smithy.api#documentation": "*Optional*. The result of an [inline](https://core.telegram.org/bots/api#inline-mode) query that was chosen by a user and sent to their chat partner. Please see our documentation on the [feedback collecting](https://core.telegram.org/bots/inline#collecting-feedback) for details on how to enable these updates for your bot."
          }
        },
        "callback_query": {
          "target": "com.telegram.botapi#CallbackQuery",
          "traits": {
            "smithy.api#documentation": "*Optional*. New incoming callback query"
          }
        },
        "shipping_query": {
          "target": "com.telegram.botapi#ShippingQuery",
          "traits": {
            "smithy.api#documentation": "*Optional*. New incoming shipping query. Only for invoices with flexible price."
          }
        },
        "pre_checkout_query": {
          "target": "com.telegram.botapi#PreCheckoutQuery",
          "traits": {
            "smithy.api#documentation": "*Optional*. New incoming pre-checkout query. Contains full information about checkout."
          }
        },
        "purchased_paid_media": {
          "target": "com.telegram.botapi#PaidMediaPurchased",
          "traits": {
            "smithy.api#documentation": "*Optional*. A user purchased paid media with a non-empty payload sent by the bot in a non-channel chat"
          }
        },
        "poll": {
          "target": "com.telegram.botapi#Poll",
          "traits": {
            "smithy.api#documentation": "*Optional*. New poll state. Bots receive only updates about manually stopped polls and polls, which are sent by the bot."
          }
        },
        "poll_answer": {
          "target": "com.telegram.botapi#PollAnswer",
          "traits": {
            "smithy.api#documentation": "*Optional*. A user changed their answer in a non-anonymous poll. Bots receive new votes only in polls that were sent by the bot itself."
          }
        },
        "my_chat_member": {
          "target": "com.telegram.botapi#ChatMemberUpdated",
          "traits": {
            "smithy.api#documentation": "*Optional*. The bot's chat member status was updated in a chat. For private chats, this update is received only when the bot is blocked or unblocked by the user."
          }
        },
        "chat_member": {
          "target": "com.telegram.botapi#ChatMemberUpdated",
          "traits": {
            "smithy.api#documentation": "*Optional*. A chat member's status was updated in a chat. The bot must be an administrator in the chat and must explicitly specify `\"chat_member\"` in the list of *allowed\\_updates* to receive these updates."
          }
        },
        "chat_join_request": {
          "target": "com.telegram.botapi#ChatJoinRequest",
          "traits": {
            "smithy.api#documentation": "*Optional*. A request to join the chat has been sent. The bot must have the *can\\_invite\\_users* administrator right in the chat to receive these updates."
          }
        },
        "chat_boost": {
          "target": "com.telegram.botapi#ChatBoostUpdated",
          "traits": {
            "smithy.api#documentation": "*Optional*. A chat boost was added or changed. The bot must be an administrator in the chat to receive these updates."
          }
        },
        "removed_chat_boost": {
          "target": "com.telegram.botapi#ChatBoostRemoved",
          "traits": {
            "smithy.api#documentation": "*Optional*. A boost was removed from a chat. The bot must be an administrator in the chat to receive these updates."
          }
        },
        "managed_bot": {
          "target": "com.telegram.botapi#ManagedBotUpdated",
          "traits": {
            "smithy.api#documentation": "*Optional*. A new bot was created to be managed by the bot, or token or owner of a managed bot was changed"
          }
        },
        "subscription": {
          "target": "com.telegram.botapi#BotSubscriptionUpdated",
          "traits": {
            "smithy.api#documentation": "*Optional*. User payment subscription has changed"
          }
        },
        "stopped_message_generation": {
          "target": "com.telegram.botapi#MessageGenerationStopped",
          "traits": {
            "smithy.api#documentation": "*Optional*. A user asked the bot to stop the generation of a message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This [object](https://core.telegram.org/bots/api#available-types) represents an incoming update. At most **one** of the optional fields can be present in any given update."
      }
    },
    "com.telegram.botapi#WebhookInfoAllowedUpdatesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.telegram.botapi#WebhookInfo": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Webhook URL, may be empty if webhook is not set up",
            "smithy.api#required": {}
          }
        },
        "has_custom_certificate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*True*, if a custom certificate was provided for webhook certificate checks",
            "smithy.api#required": {}
          }
        },
        "pending_update_count": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "Number of updates awaiting delivery",
            "smithy.api#required": {}
          }
        },
        "ip_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. Currently used webhook IP address"
          }
        },
        "last_error_date": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "*Optional*. Unix time for the most recent error that happened when trying to deliver an update via webhook"
          }
        },
        "last_error_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. Error message in human-readable format for the most recent error that happened when trying to deliver an update via webhook"
          }
        },
        "last_synchronization_error_date": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "*Optional*. Unix time of the most recent error that happened when trying to synchronize available updates with Telegram datacenters"
          }
        },
        "max_connections": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "*Optional*. The maximum allowed number of simultaneous HTTPS connections to the webhook for update delivery"
          }
        },
        "allowed_updates": {
          "target": "com.telegram.botapi#WebhookInfoAllowedUpdatesList",
          "traits": {
            "smithy.api#documentation": "*Optional*. A list of update types the bot is subscribed to. Defaults to all update types except *chat\\_member*, *message\\_reaction*, and *message\\_reaction\\_count*."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the current status of a webhook."
      }
    },
    "com.telegram.botapi#User": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this user or bot. This number may have more than 32 significant bits and some programming languages may have difficulty/silent defects in interpreting it. But it has at most 52 significant bits, so a 64-bit integer or double-precision float type are safe for storing this identifier.",
            "smithy.api#required": {}
          }
        },
        "is_bot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*True*, if this user is a bot",
            "smithy.api#required": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's or bot's first name",
            "smithy.api#required": {}
          }
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. User's or bot's last name"
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. User's or bot's username"
          }
        },
        "language_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. [IETF language tag](https://en.wikipedia.org/wiki/IETF_language_tag) of the user's language"
          }
        },
        "is_premium": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if this user is a Telegram Premium user"
          }
        },
        "added_to_attachment_menu": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if this user added the bot to the attachment menu"
          }
        },
        "can_join_groups": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if the bot can be invited to groups. Returned only in [getMe](https://core.telegram.org/bots/api#getme)."
          }
        },
        "can_read_all_group_messages": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if [privacy mode](https://core.telegram.org/bots/features#privacy-mode) is disabled for the bot. Returned only in [getMe](https://core.telegram.org/bots/api#getme)."
          }
        },
        "supports_guest_queries": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if the bot supports guest queries from chats it is not a member of. Returned only in [getMe](https://core.telegram.org/bots/api#getme)."
          }
        },
        "supports_inline_queries": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if the bot supports inline queries. Returned only in [getMe](https://core.telegram.org/bots/api#getme)."
          }
        },
        "can_connect_to_business": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if the bot can be connected to a user account to manage it. Returned only in [getMe](https://core.telegram.org/bots/api#getme)."
          }
        },
        "has_main_web_app": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if the bot has a main Web App. Returned only in [getMe](https://core.telegram.org/bots/api#getme)."
          }
        },
        "has_topics_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if the bot has forum topic mode enabled in private chats. Returned only in [getMe](https://core.telegram.org/bots/api#getme)."
          }
        },
        "allows_users_to_create_topics": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if the bot allows users to create and delete topics in private chats. Returned only in [getMe](https://core.telegram.org/bots/api#getme)."
          }
        },
        "can_manage_bots": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if other bots can be created to be controlled by the bot. Returned only in [getMe](https://core.telegram.org/bots/api#getme)."
          }
        },
        "supports_join_request_queries": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if the bot supports join request queries and can be assigned to process them. Returned only in [getMe](https://core.telegram.org/bots/api#getme)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This object represents a Telegram user or bot."
      }
    },
    "com.telegram.botapi#ChatTypeStringEnum": {
      "type": "enum",
      "members": {
        "private": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "group": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "group"
          }
        },
        "supergroup": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "supergroup"
          }
        },
        "channel": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "channel"
          }
        }
      },
      "traits": {}
    },
    "com.telegram.botapi#Chat": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this chat. This number may have more than 32 significant bits and some programming languages may have difficulty/silent defects in interpreting it. But it has at most 52 significant bits, so a signed 64-bit integer or double-precision float type are safe for storing this identifier.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.telegram.botapi#ChatTypeStringEnum",
          "traits": {
            "smithy.api#documentation": "Type of the chat, can be either “private”, “group”, “supergroup” or “channel”",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. Title, for supergroups, channels and group chats"
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. Username, for private chats, supergroups and channels if available"
          }
        },
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. First name of the other party in a private chat"
          }
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. Last name of the other party in a private chat"
          }
        },
        "is_forum": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if the supergroup chat is a forum (has [topics](https://telegram.org/blog/topics-in-groups-collectible-usernames#topics-in-groups) enabled)"
          }
        },
        "is_direct_messages": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if the chat is the direct messages chat of a channel"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This object represents a chat."
      }
    },
    "com.telegram.botapi#ChatFullInfoTypeStringEnum": {
      "type": "enum",
      "members": {
        "private": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "group": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "group"
          }
        },
        "supergroup": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "supergroup"
          }
        },
        "channel": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "channel"
          }
        }
      },
      "traits": {}
    },
    "com.telegram.botapi#ChatFullInfoActiveUsernamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.telegram.botapi#ChatFullInfoAvailableReactionsList": {
      "type": "list",
      "member": {
        "target": "com.telegram.botapi#ReactionType"
      },
      "traits": {}
    },
    "com.telegram.botapi#ChatFullInfo": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this chat. This number may have more than 32 significant bits and some programming languages may have difficulty/silent defects in interpreting it. But it has at most 52 significant bits, so a signed 64-bit integer or double-precision float type are safe for storing this identifier.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.telegram.botapi#ChatFullInfoTypeStringEnum",
          "traits": {
            "smithy.api#documentation": "Type of the chat, can be either “private”, “group”, “supergroup” or “channel”",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. Title, for supergroups, channels and group chats"
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. Username, for private chats, supergroups and channels if available"
          }
        },
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. First name of the other party in a private chat"
          }
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. Last name of the other party in a private chat"
          }
        },
        "is_forum": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if the supergroup chat is a forum (has [topics](https://telegram.org/blog/topics-in-groups-collectible-usernames#topics-in-groups) enabled)"
          }
        },
        "is_direct_messages": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if the chat is the direct messages chat of a channel"
          }
        },
        "accent_color_id": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "Identifier of the accent color for the chat name and backgrounds of the chat photo, reply header, and link preview. See [accent colors](https://core.telegram.org/bots/api#accent-colors) for more details.",
            "smithy.api#required": {}
          }
        },
        "max_reaction_count": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "The maximum number of reactions that can be set on a message in the chat",
            "smithy.api#required": {}
          }
        },
        "photo": {
          "target": "com.telegram.botapi#ChatPhoto",
          "traits": {
            "smithy.api#documentation": "*Optional*. Chat photo"
          }
        },
        "active_usernames": {
          "target": "com.telegram.botapi#ChatFullInfoActiveUsernamesList",
          "traits": {
            "smithy.api#documentation": "*Optional*. If non-empty, the list of all [active chat usernames](https://telegram.org/blog/topics-in-groups-collectible-usernames#collectible-usernames); for private chats, supergroups and channels"
          }
        },
        "birthdate": {
          "target": "com.telegram.botapi#Birthdate",
          "traits": {
            "smithy.api#documentation": "*Optional*. For private chats, the date of birth of the user"
          }
        },
        "business_intro": {
          "target": "com.telegram.botapi#BusinessIntro",
          "traits": {
            "smithy.api#documentation": "*Optional*. For private chats with business accounts, the intro of the business"
          }
        },
        "business_location": {
          "target": "com.telegram.botapi#BusinessLocation",
          "traits": {
            "smithy.api#documentation": "*Optional*. For private chats with business accounts, the location of the business"
          }
        },
        "business_opening_hours": {
          "target": "com.telegram.botapi#BusinessOpeningHours",
          "traits": {
            "smithy.api#documentation": "*Optional*. For private chats with business accounts, the opening hours of the business"
          }
        },
        "personal_chat": {
          "target": "com.telegram.botapi#Chat",
          "traits": {
            "smithy.api#documentation": "*Optional*. For private chats, the personal channel of the user"
          }
        },
        "parent_chat": {
          "target": "com.telegram.botapi#Chat",
          "traits": {
            "smithy.api#documentation": "*Optional*. Information about the corresponding channel chat; for direct messages chats only"
          }
        },
        "available_reactions": {
          "target": "com.telegram.botapi#ChatFullInfoAvailableReactionsList",
          "traits": {
            "smithy.api#documentation": "*Optional*. List of available reactions allowed in the chat. If omitted, then all [emoji reactions](https://core.telegram.org/bots/api#reactiontypeemoji) are allowed."
          }
        },
        "background_custom_emoji_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. Custom emoji identifier of the emoji chosen by the chat for the reply header and link preview background"
          }
        },
        "profile_accent_color_id": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "*Optional*. Identifier of the accent color for the chat's profile background. See [profile accent colors](https://core.telegram.org/bots/api#profile-accent-colors) for more details."
          }
        },
        "profile_background_custom_emoji_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. Custom emoji identifier of the emoji chosen by the chat for its profile background"
          }
        },
        "emoji_status_custom_emoji_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. Custom emoji identifier of the emoji status of the chat or the other party in a private chat"
          }
        },
        "emoji_status_expiration_date": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "*Optional*. Expiration date of the emoji status of the chat or the other party in a private chat, in Unix time, if any"
          }
        },
        "bio": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. Bio of the other party in a private chat"
          }
        },
        "has_private_forwards": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if privacy settings of the other party in the private chat allows to use `tg://user?id=<user_id>` links only in chats with the user"
          }
        },
        "has_restricted_voice_and_video_messages": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if the privacy settings of the other party restrict sending voice and video note messages in the private chat"
          }
        },
        "join_to_send_messages": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if users need to join the supergroup before they can send messages"
          }
        },
        "join_by_request": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if all users directly joining the supergroup without using an invite link need to be approved by supergroup administrators"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. Description, for groups, supergroups and channel chats"
          }
        },
        "invite_link": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. Primary invite link, for groups, supergroups and channel chats"
          }
        },
        "pinned_message": {
          "target": "com.telegram.botapi#Message",
          "traits": {
            "smithy.api#documentation": "*Optional*. The most recent pinned message (by sending date)"
          }
        },
        "permissions": {
          "target": "com.telegram.botapi#ChatPermissions",
          "traits": {
            "smithy.api#documentation": "*Optional*. Default chat member permissions, for groups and supergroups"
          }
        },
        "accepted_gift_types": {
          "target": "com.telegram.botapi#AcceptedGiftTypes",
          "traits": {
            "smithy.api#documentation": "Information about types of gifts that are accepted by the chat or by the corresponding user for private chats",
            "smithy.api#required": {}
          }
        },
        "can_send_paid_media": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if paid media messages can be sent or forwarded to the channel chat. The field is available only for channel chats."
          }
        },
        "slow_mode_delay": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "*Optional*. For supergroups, the minimum allowed delay between consecutive messages sent by each unprivileged user; in seconds"
          }
        },
        "unrestrict_boost_count": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "*Optional*. For supergroups, the minimum number of boosts that a non-administrator user needs to add in order to ignore slow mode and chat permissions"
          }
        },
        "message_auto_delete_time": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "*Optional*. The time after which all messages sent to the chat will be automatically deleted; in seconds"
          }
        },
        "has_aggressive_anti_spam_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if aggressive anti-spam checks are enabled in the supergroup. The field is only available to chat administrators."
          }
        },
        "has_hidden_members": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if non-administrators can only get the list of bots and administrators in the chat"
          }
        },
        "has_protected_content": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if messages from the chat can't be forwarded to other chats"
          }
        },
        "has_visible_history": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if new chat members will have access to old messages; available only to chat administrators"
          }
        },
        "sticker_set_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. For supergroups, name of the group sticker set"
          }
        },
        "can_set_sticker_set": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if the bot can change the group sticker set"
          }
        },
        "custom_emoji_sticker_set_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. For supergroups, the name of the group's custom emoji sticker set. Custom emoji from this set can be used by all users and bots in the group."
          }
        },
        "linked_chat_id": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "*Optional*. Unique identifier for the linked chat, i.e. the discussion group identifier for a channel and vice versa; for supergroups and channel chats. This identifier may be greater than 32 bits and some programming languages may have difficulty/silent defects in interpreting it. But it is smaller than 52 bits, so a signed 64 bit integer or double-precision float type are safe for storing this identifier."
          }
        },
        "location": {
          "target": "com.telegram.botapi#ChatLocation",
          "traits": {
            "smithy.api#documentation": "*Optional*. For supergroups, the location to which the supergroup is connected"
          }
        },
        "rating": {
          "target": "com.telegram.botapi#UserRating",
          "traits": {
            "smithy.api#documentation": "*Optional*. For private chats, the rating of the user if any"
          }
        },
        "first_profile_audio": {
          "target": "com.telegram.botapi#Audio",
          "traits": {
            "smithy.api#documentation": "*Optional*. For private chats, the first audio added to the profile of the user"
          }
        },
        "unique_gift_colors": {
          "target": "com.telegram.botapi#UniqueGiftColors",
          "traits": {
            "smithy.api#documentation": "*Optional*. The color scheme based on a unique gift that must be used for the chat's name, message replies and link previews"
          }
        },
        "paid_message_star_count": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "*Optional*. The number of Telegram Stars a general user has to pay to send a message to the chat"
          }
        },
        "guard_bot": {
          "target": "com.telegram.botapi#User",
          "traits": {
            "smithy.api#documentation": "*Optional*. The bot that processes join request queries in the chat. The field is only available to chat administrators."
          }
        },
        "community": {
          "target": "com.telegram.botapi#Community",
          "traits": {
            "smithy.api#documentation": "*Optional*. The [Community](https://core.telegram.org/bots/api#community) to which the chat belongs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This object contains full information about a chat."
      }
    },
    "com.telegram.botapi#MessageEntitiesList": {
      "type": "list",
      "member": {
        "target": "com.telegram.botapi#MessageEntity"
      },
      "traits": {}
    },
    "com.telegram.botapi#MessagePhotoList": {
      "type": "list",
      "member": {
        "target": "com.telegram.botapi#PhotoSize"
      },
      "traits": {}
    },
    "com.telegram.botapi#MessageCaptionEntitiesList": {
      "type": "list",
      "member": {
        "target": "com.telegram.botapi#MessageEntity"
      },
      "traits": {}
    },
    "com.telegram.botapi#MessageNewChatMembersList": {
      "type": "list",
      "member": {
        "target": "com.telegram.botapi#User"
      },
      "traits": {}
    },
    "com.telegram.botapi#MessageNewChatPhotoList": {
      "type": "list",
      "member": {
        "target": "com.telegram.botapi#PhotoSize"
      },
      "traits": {}
    },
    "com.telegram.botapi#Message": {
      "type": "structure",
      "members": {
        "message_id": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "Unique message identifier inside this chat; 0 for ephemeral messages. In specific instances (e.g., a message containing a video sent to a big chat), the server might automatically schedule a message instead of sending it immediately. In such cases, this field will be 0 and the relevant message will be unusable until it is actually sent.",
            "smithy.api#required": {}
          }
        },
        "message_thread_id": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "*Optional*. Unique identifier of a message thread or forum topic to which the message belongs; for supergroups and private chats only"
          }
        },
        "direct_messages_topic": {
          "target": "com.telegram.botapi#DirectMessagesTopic",
          "traits": {
            "smithy.api#documentation": "*Optional*. Information about the direct messages chat topic that contains the message"
          }
        },
        "from": {
          "target": "com.telegram.botapi#User",
          "traits": {
            "smithy.api#documentation": "*Optional*. Sender of the message; may be empty for messages sent to channels. For backward compatibility, if the message was sent on behalf of a chat, the field contains a fake sender user in non-channel chats."
          }
        },
        "sender_chat": {
          "target": "com.telegram.botapi#Chat",
          "traits": {
            "smithy.api#documentation": "*Optional*. Sender of the message when sent on behalf of a chat. For example, the supergroup itself for messages sent by its anonymous administrators or a linked channel for messages automatically forwarded to the channel's discussion group. For backward compatibility, if the message was sent on behalf of a chat, the field *from* contains a fake sender user in non-channel chats."
          }
        },
        "sender_boost_count": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "*Optional*. If the sender of the message boosted the chat, the number of boosts added by the user"
          }
        },
        "sender_business_bot": {
          "target": "com.telegram.botapi#User",
          "traits": {
            "smithy.api#documentation": "*Optional*. The bot that actually sent the message on behalf of the business account. Available only for outgoing messages sent on behalf of the connected business account."
          }
        },
        "sender_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. Tag or custom title of the sender of the message; for supergroups only"
          }
        },
        "receiver_user": {
          "target": "com.telegram.botapi#User",
          "traits": {
            "smithy.api#documentation": "*Optional*. For ephemeral messages, the user who received the message"
          }
        },
        "ephemeral_message_id": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "*Optional*. For ephemeral messages, identifier of the ephemeral message inside this chat. The identifier may be reused for another ephemeral message after the message is deleted or expires."
          }
        },
        "date": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "Date the message was sent in Unix time. It is always a positive number, representing a valid date.",
            "smithy.api#required": {}
          }
        },
        "guest_query_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. The unique identifier for the guest query. Use this identifier with the method [answerGuestQuery](https://core.telegram.org/bots/api#answerguestquery) to send a response message. If non-empty, the message belongs to the chat where the guest bot was summoned, which may not coincide with other existing bot chats sharing the same identifier."
          }
        },
        "business_connection_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. Unique identifier of the business connection from which the message was received. If non-empty, the message belongs to a chat of the corresponding business account that is independent from any potential bot chat which might share the same identifier."
          }
        },
        "chat": {
          "target": "com.telegram.botapi#Chat",
          "traits": {
            "smithy.api#documentation": "Chat the message belongs to",
            "smithy.api#required": {}
          }
        },
        "forward_origin": {
          "target": "com.telegram.botapi#MessageOrigin",
          "traits": {
            "smithy.api#documentation": "*Optional*. Information about the original message for forwarded messages"
          }
        },
        "is_topic_message": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if the message is sent to a topic in a forum supergroup or a private chat with the bot"
          }
        },
        "is_automatic_forward": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if the message is a channel post that was automatically forwarded to the connected discussion group"
          }
        },
        "reply_to_message": {
          "target": "com.telegram.botapi#Message",
          "traits": {
            "smithy.api#documentation": "*Optional*. For replies in the same chat and message thread, the original message. Note that the [Message](https://core.telegram.org/bots/api#message) object in this field will not contain further *reply\\_to\\_message* fields even if it itself is a reply. If the message is a reply to an ephemeral message, then this field may be omitted."
          }
        },
        "external_reply": {
          "target": "com.telegram.botapi#ExternalReplyInfo",
          "traits": {
            "smithy.api#documentation": "*Optional*. Information about the message that is being replied to, which may come from another chat or forum topic"
          }
        },
        "quote": {
          "target": "com.telegram.botapi#TextQuote",
          "traits": {
            "smithy.api#documentation": "*Optional*. For replies that quote part of the original message, the quoted part of the message"
          }
        },
        "reply_to_story": {
          "target": "com.telegram.botapi#Story",
          "traits": {
            "smithy.api#documentation": "*Optional*. For replies to a story, the original story"
          }
        },
        "reply_to_checklist_task_id": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "*Optional*. Identifier of the specific checklist task that is being replied to"
          }
        },
        "reply_to_poll_option_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. Persistent identifier of the specific poll option that is being replied to"
          }
        },
        "via_bot": {
          "target": "com.telegram.botapi#User",
          "traits": {
            "smithy.api#documentation": "*Optional*. Bot through which the message was sent"
          }
        },
        "guest_bot_caller_user": {
          "target": "com.telegram.botapi#User",
          "traits": {
            "smithy.api#documentation": "*Optional*. For a message sent by a guest bot, this is the user whose original message triggered the bot's response"
          }
        },
        "guest_bot_caller_chat": {
          "target": "com.telegram.botapi#Chat",
          "traits": {
            "smithy.api#documentation": "*Optional*. For a message sent by a guest bot, this is the chat whose original message triggered the bot's response"
          }
        },
        "edit_date": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "*Optional*. Date the message was last edited in Unix time"
          }
        },
        "has_protected_content": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if the message can't be forwarded"
          }
        },
        "is_from_offline": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if the message was sent by an implicit action, for example, as an away or a greeting business message, or as a scheduled message"
          }
        },
        "is_paid_post": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if the message is a paid post. Note that such posts must not be deleted for 24 hours to receive the payment and can't be edited."
          }
        },
        "media_group_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. The unique identifier inside this chat of a media message group this message belongs to"
          }
        },
        "author_signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. Signature of the post author for messages in channels, or the custom title of an anonymous group administrator"
          }
        },
        "paid_star_count": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "*Optional*. The number of Telegram Stars that were paid by the sender of the message to send it"
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. For text messages, the actual UTF-8 text of the message"
          }
        },
        "entities": {
          "target": "com.telegram.botapi#MessageEntitiesList",
          "traits": {
            "smithy.api#documentation": "*Optional*. For text messages, special entities like usernames, URLs, bot commands, etc. that appear in the text"
          }
        },
        "link_preview_options": {
          "target": "com.telegram.botapi#LinkPreviewOptions",
          "traits": {
            "smithy.api#documentation": "*Optional*. Options used for link preview generation for the message, if it is a text message and link preview options were changed"
          }
        },
        "suggested_post_info": {
          "target": "com.telegram.botapi#SuggestedPostInfo",
          "traits": {
            "smithy.api#documentation": "*Optional*. Information about suggested post parameters if the message is a suggested post in a channel direct messages chat. If the message is an approved or declined suggested post, then it can't be edited."
          }
        },
        "effect_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. Unique identifier of the message effect added to the message"
          }
        },
        "rich_message": {
          "target": "com.telegram.botapi#RichMessage",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a rich formatted message"
          }
        },
        "animation": {
          "target": "com.telegram.botapi#Animation",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is an animation, information about the animation. For backward compatibility, when this field is set, the *document* field will also be set."
          }
        },
        "audio": {
          "target": "com.telegram.botapi#Audio",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is an audio file, information about the file"
          }
        },
        "document": {
          "target": "com.telegram.botapi#Document",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a general file, information about the file"
          }
        },
        "live_photo": {
          "target": "com.telegram.botapi#LivePhoto",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a live photo, information about the live photo. For backward compatibility, when this field is set, the *photo* field will also be set."
          }
        },
        "paid_media": {
          "target": "com.telegram.botapi#PaidMediaInfo",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message contains paid media; information about the paid media"
          }
        },
        "photo": {
          "target": "com.telegram.botapi#MessagePhotoList",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a photo, available sizes of the photo"
          }
        },
        "sticker": {
          "target": "com.telegram.botapi#Sticker",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a sticker, information about the sticker"
          }
        },
        "story": {
          "target": "com.telegram.botapi#Story",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a forwarded story"
          }
        },
        "video": {
          "target": "com.telegram.botapi#Video",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a video, information about the video"
          }
        },
        "video_note": {
          "target": "com.telegram.botapi#VideoNote",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a [video note](https://telegram.org/blog/video-messages-and-telescope), information about the video message"
          }
        },
        "voice": {
          "target": "com.telegram.botapi#Voice",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a voice message, information about the file"
          }
        },
        "caption": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. Caption for the animation, audio, document, paid media, photo, video or voice"
          }
        },
        "caption_entities": {
          "target": "com.telegram.botapi#MessageCaptionEntitiesList",
          "traits": {
            "smithy.api#documentation": "*Optional*. For messages with a caption, special entities like usernames, URLs, bot commands, etc. that appear in the caption"
          }
        },
        "show_caption_above_media": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if the caption must be shown above the message media"
          }
        },
        "has_media_spoiler": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if the message media is covered by a spoiler animation"
          }
        },
        "checklist": {
          "target": "com.telegram.botapi#Checklist",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a checklist"
          }
        },
        "contact": {
          "target": "com.telegram.botapi#Contact",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a shared contact, information about the contact"
          }
        },
        "dice": {
          "target": "com.telegram.botapi#Dice",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a dice with random value"
          }
        },
        "game": {
          "target": "com.telegram.botapi#Game",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a game, information about the game. [More about games »](https://core.telegram.org/bots/api#games)"
          }
        },
        "poll": {
          "target": "com.telegram.botapi#Poll",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a native poll, information about the poll"
          }
        },
        "venue": {
          "target": "com.telegram.botapi#Venue",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a venue, information about the venue. For backward compatibility, when this field is set, the *location* field will also be set."
          }
        },
        "location": {
          "target": "com.telegram.botapi#Location",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a shared location, information about the location"
          }
        },
        "new_chat_members": {
          "target": "com.telegram.botapi#MessageNewChatMembersList",
          "traits": {
            "smithy.api#documentation": "*Optional*. New members that were added to the group or supergroup and information about them (the bot itself may be one of these members)"
          }
        },
        "left_chat_member": {
          "target": "com.telegram.botapi#User",
          "traits": {
            "smithy.api#documentation": "*Optional*. A member was removed from the group, information about them (this member may be the bot itself)"
          }
        },
        "chat_owner_left": {
          "target": "com.telegram.botapi#ChatOwnerLeft",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: chat owner has left"
          }
        },
        "chat_owner_changed": {
          "target": "com.telegram.botapi#ChatOwnerChanged",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: chat owner has changed"
          }
        },
        "new_chat_title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. A chat title was changed to this value"
          }
        },
        "new_chat_photo": {
          "target": "com.telegram.botapi#MessageNewChatPhotoList",
          "traits": {
            "smithy.api#documentation": "*Optional*. A chat photo was change to this value"
          }
        },
        "delete_chat_photo": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: the chat photo was deleted"
          }
        },
        "group_chat_created": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: the group has been created"
          }
        },
        "supergroup_chat_created": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: the supergroup has been created. This field can't be received in a message coming through updates, because bot can't be a member of a supergroup when it is created. It can only be found in reply\\_to\\_message if someone replies to a very first message in a directly created supergroup."
          }
        },
        "channel_chat_created": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: the channel has been created. This field can't be received in a message coming through updates, because bot can't be a member of a channel when it is created. It can only be found in reply\\_to\\_message if someone replies to a very first message in a channel."
          }
        },
        "message_auto_delete_timer_changed": {
          "target": "com.telegram.botapi#MessageAutoDeleteTimerChanged",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: auto-delete timer settings changed in the chat"
          }
        },
        "migrate_to_chat_id": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "*Optional*. The group has been migrated to a supergroup with the specified identifier. This number may have more than 32 significant bits and some programming languages may have difficulty/silent defects in interpreting it. But it has at most 52 significant bits, so a signed 64-bit integer or double-precision float type are safe for storing this identifier."
          }
        },
        "migrate_from_chat_id": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "*Optional*. The supergroup has been migrated from a group with the specified identifier. This number may have more than 32 significant bits and some programming languages may have difficulty/silent defects in interpreting it. But it has at most 52 significant bits, so a signed 64-bit integer or double-precision float type are safe for storing this identifier."
          }
        },
        "pinned_message": {
          "target": "com.telegram.botapi#MaybeInaccessibleMessage",
          "traits": {
            "smithy.api#documentation": "*Optional*. Specified message was pinned. Note that the [Message](https://core.telegram.org/bots/api#message) object in this field will not contain further *reply\\_to\\_message* fields even if it itself is a reply."
          }
        },
        "invoice": {
          "target": "com.telegram.botapi#Invoice",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is an invoice for a [payment](https://core.telegram.org/bots/api#payments), information about the invoice. [More about payments »](https://core.telegram.org/bots/api#payments)"
          }
        },
        "successful_payment": {
          "target": "com.telegram.botapi#SuccessfulPayment",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a service message about a successful payment, information about the payment. [More about payments »](https://core.telegram.org/bots/api#payments)"
          }
        },
        "refunded_payment": {
          "target": "com.telegram.botapi#RefundedPayment",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a service message about a refunded payment, information about the payment. [More about payments »](https://core.telegram.org/bots/api#payments)"
          }
        },
        "users_shared": {
          "target": "com.telegram.botapi#UsersShared",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: users were shared with the bot"
          }
        },
        "chat_shared": {
          "target": "com.telegram.botapi#ChatShared",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: a chat was shared with the bot"
          }
        },
        "gift": {
          "target": "com.telegram.botapi#GiftInfo",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: a regular gift was sent or received"
          }
        },
        "unique_gift": {
          "target": "com.telegram.botapi#UniqueGiftInfo",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: a unique gift was sent or received"
          }
        },
        "gift_upgrade_sent": {
          "target": "com.telegram.botapi#GiftInfo",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: upgrade of a gift was purchased after the gift was sent"
          }
        },
        "connected_website": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. The domain name of the website on which the user has logged in. [More about Telegram Login »](https://core.telegram.org/widgets/login)"
          }
        },
        "write_access_allowed": {
          "target": "com.telegram.botapi#WriteAccessAllowed",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: the user allowed the bot to write messages after adding it to the attachment or side menu, launching a Web App from a link, or accepting an explicit request from a Web App sent by the method [requestWriteAccess](https://core.telegram.org/bots/webapps#initializing-mini-apps)"
          }
        },
        "passport_data": {
          "target": "com.telegram.botapi#PassportData",
          "traits": {
            "smithy.api#documentation": "*Optional*. Telegram Passport data"
          }
        },
        "proximity_alert_triggered": {
          "target": "com.telegram.botapi#ProximityAlertTriggered",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: a user in the chat triggered another user's proximity alert while sharing Live Location"
          }
        },
        "boost_added": {
          "target": "com.telegram.botapi#ChatBoostAdded",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: user boosted the chat"
          }
        },
        "chat_background_set": {
          "target": "com.telegram.botapi#ChatBackground",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: chat background set"
          }
        },
        "checklist_tasks_done": {
          "target": "com.telegram.botapi#ChecklistTasksDone",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: some tasks in a checklist were marked as done or not done"
          }
        },
        "checklist_tasks_added": {
          "target": "com.telegram.botapi#ChecklistTasksAdded",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: tasks were added to a checklist"
          }
        },
        "community_chat_added": {
          "target": "com.telegram.botapi#CommunityChatAdded",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: chat or bot added to a [Community](https://core.telegram.org/bots/api#community)"
          }
        },
        "community_chat_joined": {
          "target": "com.telegram.botapi#CommunityChatJoined",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: chat was joined by a user from a [Community](https://core.telegram.org/bots/api#community)"
          }
        },
        "community_chat_removed": {
          "target": "com.telegram.botapi#CommunityChatRemoved",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: chat or bot removed from a [Community](https://core.telegram.org/bots/api#community)"
          }
        },
        "direct_message_price_changed": {
          "target": "com.telegram.botapi#DirectMessagePriceChanged",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: the price for paid messages in the corresponding direct messages chat of a channel has changed"
          }
        },
        "forum_topic_created": {
          "target": "com.telegram.botapi#ForumTopicCreated",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: forum topic created"
          }
        },
        "forum_topic_edited": {
          "target": "com.telegram.botapi#ForumTopicEdited",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: forum topic edited"
          }
        },
        "forum_topic_closed": {
          "target": "com.telegram.botapi#ForumTopicClosed",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: forum topic closed"
          }
        },
        "forum_topic_reopened": {
          "target": "com.telegram.botapi#ForumTopicReopened",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: forum topic reopened"
          }
        },
        "general_forum_topic_hidden": {
          "target": "com.telegram.botapi#GeneralForumTopicHidden",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: the 'General' forum topic hidden"
          }
        },
        "general_forum_topic_unhidden": {
          "target": "com.telegram.botapi#GeneralForumTopicUnhidden",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: the 'General' forum topic unhidden"
          }
        },
        "giveaway_created": {
          "target": "com.telegram.botapi#GiveawayCreated",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: a scheduled giveaway was created"
          }
        },
        "giveaway": {
          "target": "com.telegram.botapi#Giveaway",
          "traits": {
            "smithy.api#documentation": "*Optional*. The message is a scheduled giveaway message"
          }
        },
        "giveaway_winners": {
          "target": "com.telegram.botapi#GiveawayWinners",
          "traits": {
            "smithy.api#documentation": "*Optional*. A giveaway with public winners was completed"
          }
        },
        "giveaway_completed": {
          "target": "com.telegram.botapi#GiveawayCompleted",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: a giveaway without public winners was completed"
          }
        },
        "managed_bot_created": {
          "target": "com.telegram.botapi#ManagedBotCreated",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: user created a bot that will be managed by the current bot"
          }
        },
        "paid_message_price_changed": {
          "target": "com.telegram.botapi#PaidMessagePriceChanged",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: the price for paid messages has changed in the chat"
          }
        },
        "poll_option_added": {
          "target": "com.telegram.botapi#PollOptionAdded",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: answer option was added to a poll"
          }
        },
        "poll_option_deleted": {
          "target": "com.telegram.botapi#PollOptionDeleted",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: answer option was deleted from a poll"
          }
        },
        "suggested_post_approved": {
          "target": "com.telegram.botapi#SuggestedPostApproved",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: a suggested post was approved"
          }
        },
        "suggested_post_approval_failed": {
          "target": "com.telegram.botapi#SuggestedPostApprovalFailed",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: approval of a suggested post has failed"
          }
        },
        "suggested_post_declined": {
          "target": "com.telegram.botapi#SuggestedPostDeclined",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: a suggested post was declined"
          }
        },
        "suggested_post_paid": {
          "target": "com.telegram.botapi#SuggestedPostPaid",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: payment for a suggested post was received"
          }
        },
        "suggested_post_refunded": {
          "target": "com.telegram.botapi#SuggestedPostRefunded",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: payment for a suggested post was refunded"
          }
        },
        "video_chat_scheduled": {
          "target": "com.telegram.botapi#VideoChatScheduled",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: video chat scheduled"
          }
        },
        "video_chat_started": {
          "target": "com.telegram.botapi#VideoChatStarted",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: video chat started"
          }
        },
        "video_chat_ended": {
          "target": "com.telegram.botapi#VideoChatEnded",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: video chat ended"
          }
        },
        "video_chat_participants_invited": {
          "target": "com.telegram.botapi#VideoChatParticipantsInvited",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: new participants invited to a video chat"
          }
        },
        "web_app_data": {
          "target": "com.telegram.botapi#WebAppData",
          "traits": {
            "smithy.api#documentation": "*Optional*. Service message: data sent by a Web App"
          }
        },
        "reply_markup": {
          "target": "com.telegram.botapi#InlineKeyboardMarkup",
          "traits": {
            "smithy.api#documentation": "*Optional*. [Inline keyboard](https://core.telegram.org/bots/features#inline-keyboards) attached to the message. `login_url` buttons are represented as ordinary `url` buttons."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This object represents a message."
      }
    },
    "com.telegram.botapi#MessageId": {
      "type": "structure",
      "members": {
        "message_id": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "Unique message identifier. In specific instances (e.g., message containing a video sent to a big chat), the server might automatically schedule a message instead of sending it immediately. In such cases, this field will be 0 and the relevant message will be unusable until it is actually sent.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This object represents a unique message identifier."
      }
    },
    "com.telegram.botapi#InaccessibleMessage": {
      "type": "structure",
      "members": {
        "chat": {
          "target": "com.telegram.botapi#Chat",
          "traits": {
            "smithy.api#documentation": "Chat the message belonged to",
            "smithy.api#required": {}
          }
        },
        "message_id": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "Unique message identifier inside the chat",
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "Always 0. The field can be used to differentiate regular and inaccessible messages.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This object describes a message that was deleted or is otherwise inaccessible to the bot."
      }
    },
    "com.telegram.botapi#MaybeInaccessibleMessage": {
      "type": "union",
      "members": {
        "variant_1": {
          "target": "com.telegram.botapi#Message"
        },
        "variant_2": {
          "target": "com.telegram.botapi#InaccessibleMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "This object describes a message that can be inaccessible to the bot. It can be one of * [Message](https://core.telegram.org/bots/api#message) * [InaccessibleMessage](https://core.telegram.org/bots/api#inaccessiblemessage)"
      }
    },
    "com.telegram.botapi#MessageEntityTypeStringEnum": {
      "type": "enum",
      "members": {
        "mention": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mention"
          }
        },
        "hashtag": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hashtag"
          }
        },
        "cashtag": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cashtag"
          }
        },
        "bot_command": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bot_command"
          }
        },
        "url": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        },
        "email": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        },
        "phone_number": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "phone_number"
          }
        },
        "bold": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bold"
          }
        },
        "italic": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "italic"
          }
        },
        "underline": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "underline"
          }
        },
        "strikethrough": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "strikethrough"
          }
        },
        "spoiler": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "spoiler"
          }
        },
        "blockquote": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blockquote"
          }
        },
        "expandable_blockquote": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expandable_blockquote"
          }
        },
        "code": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "code"
          }
        },
        "pre": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pre"
          }
        },
        "text_link": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text_link"
          }
        },
        "text_mention": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text_mention"
          }
        },
        "custom_emoji": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_emoji"
          }
        },
        "date_time": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "date_time"
          }
        }
      },
      "traits": {}
    },
    "com.telegram.botapi#MessageEntity": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.telegram.botapi#MessageEntityTypeStringEnum",
          "traits": {
            "smithy.api#documentation": "Type of the entity. Currently, can be “mention” (`@username`), “hashtag” (`#hashtag` or `#hashtag@chatusername`), “cashtag” (`$USD` or `$USD@chatusername`), “bot\\_command” (`/start@jobs_bot`), “url” (`https://telegram.org`), “email” (`do-not-reply@telegram.org`), “phone\\_number” (`+1-212-555-0123`), “bold” (**bold text**), “italic” (*italic text*), “underline” (underlined text), “strikethrough” (strikethrough text), “spoiler” (spoiler message), “blockquote” (block quotation), “expandable\\_blockquote” (collapsed-by-default block quotation), “code” (monowidth string), “pre” (monowidth block), “text\\_link” (for clickable text URLs), “text\\_mention” (for users [without usernames](https://telegram.org/blog/edit#new-mentions)), “custom\\_emoji” (for inline custom emoji stickers), or “date\\_time” (for formatted date and time).",
            "smithy.api#required": {}
          }
        },
        "offset": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "Offset in [UTF-16 code units](https://core.telegram.org/api/entities#entity-length) to the start of the entity",
            "smithy.api#required": {}
          }
        },
        "length": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "Length of the entity in [UTF-16 code units](https://core.telegram.org/api/entities#entity-length)",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. For “text\\_link” only, URL that will be opened after user taps on the text"
          }
        },
        "user": {
          "target": "com.telegram.botapi#User",
          "traits": {
            "smithy.api#documentation": "*Optional*. For “text\\_mention” only, the mentioned user"
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. For “pre” only, the programming language of the entity text"
          }
        },
        "custom_emoji_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. For “custom\\_emoji” only, unique identifier of the custom emoji. Use [getCustomEmojiStickers](https://core.telegram.org/bots/api#getcustomemojistickers) to get full information about the sticker."
          }
        },
        "unix_time": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "*Optional*. For “date\\_time” only, the Unix time associated with the entity"
          }
        },
        "date_time_format": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. For “date\\_time” only, the string that defines the formatting of the date and time. See [date-time entity formatting](https://core.telegram.org/bots/api#date-time-entity-formatting) for more details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This object represents one special entity in a text message. For example, hashtags, usernames, URLs, etc."
      }
    },
    "com.telegram.botapi#TextQuoteEntitiesList": {
      "type": "list",
      "member": {
        "target": "com.telegram.botapi#MessageEntity"
      },
      "traits": {}
    },
    "com.telegram.botapi#TextQuote": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text of the quoted part of a message that is replied to by the given message",
            "smithy.api#required": {}
          }
        },
        "entities": {
          "target": "com.telegram.botapi#TextQuoteEntitiesList",
          "traits": {
            "smithy.api#documentation": "*Optional*. Special entities that appear in the quote. Currently, only *bold*, *italic*, *underline*, *strikethrough*, *spoiler*, *custom\\_emoji*, and *date\\_time* entities are kept in quotes."
          }
        },
        "position": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "Approximate quote position in the original message in UTF-16 code units as specified by the sender",
            "smithy.api#required": {}
          }
        },
        "is_manual": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if the quote was chosen manually by the message sender. Otherwise, the quote was added automatically by the server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This object contains information about the quoted part of a message that is replied to by the given message."
      }
    },
    "com.telegram.botapi#ExternalReplyInfoPhotoList": {
      "type": "list",
      "member": {
        "target": "com.telegram.botapi#PhotoSize"
      },
      "traits": {}
    },
    "com.telegram.botapi#ExternalReplyInfo": {
      "type": "structure",
      "members": {
        "origin": {
          "target": "com.telegram.botapi#MessageOrigin",
          "traits": {
            "smithy.api#documentation": "Origin of the message replied to by the given message",
            "smithy.api#required": {}
          }
        },
        "chat": {
          "target": "com.telegram.botapi#Chat",
          "traits": {
            "smithy.api#documentation": "*Optional*. Chat the original message belongs to. Available only if the chat is a supergroup or a channel."
          }
        },
        "message_id": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "*Optional*. Unique message identifier inside the original chat. Available only if the original chat is a supergroup or a channel."
          }
        },
        "link_preview_options": {
          "target": "com.telegram.botapi#LinkPreviewOptions",
          "traits": {
            "smithy.api#documentation": "*Optional*. Options used for link preview generation for the original message, if it is a text message"
          }
        },
        "animation": {
          "target": "com.telegram.botapi#Animation",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is an animation, information about the animation"
          }
        },
        "audio": {
          "target": "com.telegram.botapi#Audio",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is an audio file, information about the file"
          }
        },
        "document": {
          "target": "com.telegram.botapi#Document",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a general file, information about the file"
          }
        },
        "live_photo": {
          "target": "com.telegram.botapi#LivePhoto",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a live photo, information about the live photo"
          }
        },
        "paid_media": {
          "target": "com.telegram.botapi#PaidMediaInfo",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message contains paid media; information about the paid media"
          }
        },
        "photo": {
          "target": "com.telegram.botapi#ExternalReplyInfoPhotoList",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a photo, available sizes of the photo"
          }
        },
        "sticker": {
          "target": "com.telegram.botapi#Sticker",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a sticker, information about the sticker"
          }
        },
        "story": {
          "target": "com.telegram.botapi#Story",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a forwarded story"
          }
        },
        "video": {
          "target": "com.telegram.botapi#Video",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a video, information about the video"
          }
        },
        "video_note": {
          "target": "com.telegram.botapi#VideoNote",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a [video note](https://telegram.org/blog/video-messages-and-telescope), information about the video message"
          }
        },
        "voice": {
          "target": "com.telegram.botapi#Voice",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a voice message, information about the file"
          }
        },
        "has_media_spoiler": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. *True*, if the message media is covered by a spoiler animation"
          }
        },
        "checklist": {
          "target": "com.telegram.botapi#Checklist",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a checklist"
          }
        },
        "contact": {
          "target": "com.telegram.botapi#Contact",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a shared contact, information about the contact"
          }
        },
        "dice": {
          "target": "com.telegram.botapi#Dice",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a dice with random value"
          }
        },
        "game": {
          "target": "com.telegram.botapi#Game",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a game, information about the game. [More about games »](https://core.telegram.org/bots/api#games)"
          }
        },
        "giveaway": {
          "target": "com.telegram.botapi#Giveaway",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a scheduled giveaway, information about the giveaway"
          }
        },
        "giveaway_winners": {
          "target": "com.telegram.botapi#GiveawayWinners",
          "traits": {
            "smithy.api#documentation": "*Optional*. A giveaway with public winners was completed"
          }
        },
        "invoice": {
          "target": "com.telegram.botapi#Invoice",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is an invoice for a [payment](https://core.telegram.org/bots/api#payments), information about the invoice. [More about payments »](https://core.telegram.org/bots/api#payments)"
          }
        },
        "location": {
          "target": "com.telegram.botapi#Location",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a shared location, information about the location"
          }
        },
        "poll": {
          "target": "com.telegram.botapi#Poll",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a native poll, information about the poll"
          }
        },
        "venue": {
          "target": "com.telegram.botapi#Venue",
          "traits": {
            "smithy.api#documentation": "*Optional*. Message is a venue, information about the venue"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This object contains information about a message that is being replied to, which may come from another chat or forum topic."
      }
    },
    "com.telegram.botapi#ReplyParametersChatIdUnion": {
      "type": "union",
      "members": {
        "variant_1": {
          "target": "smithy.api#Long"
        },
        "variant_2": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.telegram.botapi#ReplyParametersQuoteEntitiesList": {
      "type": "list",
      "member": {
        "target": "com.telegram.botapi#MessageEntity"
      },
      "traits": {}
    },
    "com.telegram.botapi#ReplyParameters": {
      "type": "structure",
      "members": {
        "message_id": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "*Optional*. Identifier of the message that will be replied to in the current chat, or in the chat *chat\\_id* if it is specified. Required if *ephemeral\\_message\\_id* isn't specified."
          }
        },
        "chat_id": {
          "target": "com.telegram.botapi#ReplyParametersChatIdUnion",
          "traits": {
            "smithy.api#documentation": "*Optional*. If the message to be replied to is from a different chat, unique identifier for the chat or username of the bot, supergroup or channel in the format `@username`. Not supported for messages sent on behalf of a business account, messages from channel direct messages chats and ephemeral messages."
          }
        },
        "ephemeral_message_id": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "*Optional*. Identifier of the incoming ephemeral message that will be replied to in the current chat. A reply to an ephemeral message must itself be an ephemeral message. An ephemeral message may only be replied to within 15 seconds of being sent. Required if *message\\_id* isn't specified."
          }
        },
        "allow_sending_without_reply": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. Pass *True* if the message should be sent even if the specified message to be replied to is not found. Always *False* for replies in another chat or forum topic, and sent ephemeral messages. Always *True* for messages sent on behalf of a business account."
          }
        },
        "quote": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. Quoted part of the message to be replied to; 0-1024 characters after entities parsing. The quote must be an exact substring of the message to be replied to, including *bold*, *italic*, *underline*, *strikethrough*, *spoiler*, *custom\\_emoji*, and *date\\_time* entities. The message will fail to send if the quote isn't found in the original message. Ignored for ephemeral messages."
          }
        },
        "quote_parse_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. Mode for parsing entities in the quote. See [formatting options](https://core.telegram.org/bots/api#formatting-options) for more details."
          }
        },
        "quote_entities": {
          "target": "com.telegram.botapi#ReplyParametersQuoteEntitiesList",
          "traits": {
            "smithy.api#documentation": "*Optional*. A JSON-serialized list of special entities that appear in the quote. It can be specified instead of *quote\\_parse\\_mode*."
          }
        },
        "quote_position": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "*Optional*. Position of the quote in the original message in UTF-16 code units"
          }
        },
        "checklist_task_id": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "*Optional*. Identifier of the specific checklist task to be replied to"
          }
        },
        "poll_option_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. Persistent identifier of the specific poll option to be replied to"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes reply parameters for the message that is being sent."
      }
    },
    "com.telegram.botapi#EphemeralMessageParameters": {
      "type": "structure",
      "members": {
        "receiver_user_id": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "Identifier of the user who will receive the message. It is not guaranteed that the user will receive the message, especially if they are offline. See [here](https://core.telegram.org/bots/api#ephemeral-messages-and-commands) for more details.",
            "smithy.api#required": {}
          }
        },
        "callback_query_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. Identifier of the callback query which triggered the message, if any"
          }
        },
        "replace_callback_query_message": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "*Optional*. Pass *True* if the ephemeral message must be shown in place of the original message. Must be *False* for callback queries from ephemeral messages, which must be edited using regular *editEphemeralMessage…* methods."
          }
        }
      },
      "traits": {}
    },
    "com.telegram.botapi#MessageOrigin": {
      "type": "union",
      "members": {
        "variant_1": {
          "target": "com.telegram.botapi#MessageOriginUser"
        },
        "variant_2": {
          "target": "com.telegram.botapi#MessageOriginHiddenUser"
        },
        "variant_3": {
          "target": "com.telegram.botapi#MessageOriginChat"
        },
        "variant_4": {
          "target": "com.telegram.botapi#MessageOriginChannel"
        }
      },
      "traits": {
        "smithy.api#documentation": "This object describes the origin of a message. It can be one of * [MessageOriginUser](https://core.telegram.org/bots/api#messageoriginuser) * [MessageOriginHiddenUser](https://core.telegram.org/bots/api#messageoriginhiddenuser) * [MessageOriginChat](https://core.telegram.org/bots/api#messageoriginchat) * [MessageOriginChannel](https://core.telegram.org/bots/api#messageoriginchannel)"
      }
    },
    "com.telegram.botapi#MessageOriginUserTypeStringEnum": {
      "type": "enum",
      "members": {
        "user": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        }
      },
      "traits": {}
    },
    "com.telegram.botapi#MessageOriginUser": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.telegram.botapi#MessageOriginUserTypeStringEnum",
          "traits": {
            "smithy.api#documentation": "Type of the message origin, always “user”",
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "Date the message was sent originally in Unix time",
            "smithy.api#required": {}
          }
        },
        "sender_user": {
          "target": "com.telegram.botapi#User",
          "traits": {
            "smithy.api#documentation": "User that sent the message originally",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The message was originally sent by a known user."
      }
    },
    "com.telegram.botapi#MessageOriginHiddenUserTypeStringEnum": {
      "type": "enum",
      "members": {
        "hidden_user": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hidden_user"
          }
        }
      },
      "traits": {}
    },
    "com.telegram.botapi#MessageOriginHiddenUser": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.telegram.botapi#MessageOriginHiddenUserTypeStringEnum",
          "traits": {
            "smithy.api#documentation": "Type of the message origin, always “hidden\\_user”",
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "Date the message was sent originally in Unix time",
            "smithy.api#required": {}
          }
        },
        "sender_user_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the user that sent the message originally",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The message was originally sent by an unknown user."
      }
    },
    "com.telegram.botapi#MessageOriginChatTypeStringEnum": {
      "type": "enum",
      "members": {
        "chat": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chat"
          }
        }
      },
      "traits": {}
    },
    "com.telegram.botapi#MessageOriginChat": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.telegram.botapi#MessageOriginChatTypeStringEnum",
          "traits": {
            "smithy.api#documentation": "Type of the message origin, always “chat”",
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "Date the message was sent originally in Unix time",
            "smithy.api#required": {}
          }
        },
        "sender_chat": {
          "target": "com.telegram.botapi#Chat",
          "traits": {
            "smithy.api#documentation": "Chat that sent the message originally",
            "smithy.api#required": {}
          }
        },
        "author_signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "*Optional*. For messages originally sent by an anonymous chat administrator, original message author signature"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The message was originally sent on behalf of a chat to a group chat."
      }
    },
    "com.telegram.botapi#MessageOriginChannelTypeStringEnum": {
      "type": "enum",
      "members": {
        "channel": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "channel"
          }
        }
      },
      "traits": {}
    },
[...]
